<div class="container max-w-screen-xl mx-auto px-4 py-16">
  <div class="mb-8 flex flex-col gap-4 md:flex-row justify-between">
    <app-filters (searchEvent)="search($event)"></app-filters>
    <div class="flex gap-2 justify-between flex-wrap sm:flex-nowrap flex-col-reverse sm:flex-row">
      <app-pagination
        (limitEvent)="changeLimit($event)"
        (pageEvent)="changePage($event)"
        [count]="count"
        [limit]="limit"
        [page]="page"
      ></app-pagination>
      <button
        class="w-full mb-2 sm:mb-0 flex items-center justify-center rounded-md bg-primary px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-primary-dark focus:outline-none focus:ring-4 focus:ring-blue-300"
        (click)="redirectToProductCreate()"
      >
        New Product
      </button>
    </div>
  </div>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
  >
    <app-product-item
      *ngFor="let product of products"
      [product]="product"
    ></app-product-item>
  </div>
  <h1
    *ngIf="products.length === 0 && !isLoading"
    class="text-center text-2xl text-gray-500"
  >
    No products to show. Please create a new one.
  </h1>
  <div *ngIf="isLoading" class="flex justify-center mt-16">
    <app-spinner></app-spinner>
  </div>
  <div class="mt-8 flex justify-end">
    <app-pagination
      *ngIf="products.length > 0"
      (limitEvent)="changeLimit($event)"
      (pageEvent)="changePage($event)"
      [count]="count"
      [limit]="limit"
      [page]="page"
    ></app-pagination>
  </div>
</div>
