<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
    <div class="mb-2">
      <label for="name" class="block mb-2 text-sm font-medium text-gray-700"
        >Name*</label
      >
      <input
        type="text"
        id="name"
        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Type the product name"
        required
        formControlName="name"
      />
      <p
        class="text-red-500 text-sm mt-1"
        *ngIf="
          (productForm.get('name')?.invalid &&
            productForm.get('name')?.touched) ||
          (productForm.get('name')?.value === '' && hasError)
        "
      >
        Name is required
      </p>
    </div>
    <div class="mb-2">
      <label for="price" class="block mb-2 text-sm font-medium text-gray-700"
        >Price*</label
      >
      <input
        type="number"
        id="price"
        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Type the product price"
        required
        formControlName="price"
      />
      <p
        class="text-red-500 text-sm mt-1"
        *ngIf="
          (productForm.get('price')?.invalid &&
            productForm.get('price')?.touched) ||
          (productForm.get('price')?.value === '' && hasError)
        "
      >
        Price is required
      </p>
    </div>
    <div class="mb-2">
      <label for="stock" class="block mb-2 text-sm font-medium text-gray-700"
        >Stock*</label
      >
      <input
        type="number"
        id="stock"
        class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Type the product stock"
        required
        formControlName="stock"
      />
      <p
        class="text-red-500 text-sm mt-1"
        *ngIf="
          (productForm.get('stock')?.invalid &&
            productForm.get('stock')?.touched) ||
          (productForm.get('stock')?.value === '' && hasError)
        "
      >
        Stock is required
      </p>
    </div>
    <div class="mb-2">
      <label for="tags" class="block mb-2 text-sm font-medium text-gray-700"
        >Category*</label
      >
      <select
        id="category"
        formControlName="category"
        name="category"
        class="border w-full border-gray-300 text-sm text-gray-500 rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
      >
        <option value="" disabled selected>Select a category</option>
        <option
          *ngFor="let category of productCategories"
          [value]="category.value"
        >
          {{ category.label }}
        </option>
      </select>
      <p
        class="text-red-500 text-sm mt-1"
        *ngIf="
          (productForm.get('category')?.invalid &&
            productForm.get('category')?.touched) ||
          (productForm.get('category')?.value === '' && hasError)
        "
      >
        Category is required
      </p>
    </div>
    <div class="mb-2">
      <label for="rating" class="block mb-2 text-sm font-medium text-gray-700"
        >Rating</label
      >
      <input
        name="rating"
        id="rating"
        formControlName="rating"
        type="range"
        min="1"
        max="5"
        step="1"
        class="w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer"
      />
      <ul class="flex justify-between text-gray-500 w-full px-[10px]">
        <li
          class="flex justify-center relative"
          *ngFor="let item of [1, 2, 3, 4, 5]"
        >
          <span class="absolute">{{ item }}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="mb-2 mt-8 sm:mt-2">
    <label
      for="description"
      class="block mb-2 text-sm font-medium text-gray-700"
      >Description</label
    >
    <textarea
      type="text"
      rows="3"
      id="description"
      formControlName="description"
      class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      placeholder="Type the product description"
      required
    ></textarea>
  </div>
  <div class="mb-2 mt-2">
    <label class="block mb-2 text-sm font-medium text-gray-900" for="file_input"
      >Upload image</label
    >
    <input
      class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer"
      id="file_input"
      type="file"
      accept="image/*"
      (change)="onSelectFile($event)"
    />
    <p
      class="text-red-500 text-sm mt-1"
      *ngIf="productForm.get('image')?.value === '' && hasError"
    >
      Image is required
    </p>
  </div>

  <div class="flex justify-end mt-6 items-center">
    <app-spinner *ngIf="isLoading"></app-spinner>
    <button
      type="submit"
      class="text-white bg-primary hover:bg-primary-dark focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
    >
      {{ isEditing ? "Edit" : "Create" }} Product
    </button>
  </div>
</form>
